/* variables */
$gt-color-main := #6190e8
$gt-color-sub := #a1a1a1
$gt-color-loader := #999999
$gt-color-error := #ff3860
$gt-color-hr :=  #E9E9E9
$gt-color-input-border := rgba(0,0,0,0.1)
$gt-color-input-bg := #f6f6f6
$gt-color-comment-bg := #f9f9f9
$gt-color-comment-adminbg := #f6f9fe
$gt-color-comment-txt := #333333
$gt-color-link-active := #333333
$gt-color-btn := #ffffff
$gt-color-popbg := #ffffff
$gt-size-base := 16px // default font-size
$gt-size-border-radius := 5px

/* functions */
clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}
em($px, $base-size = $gt-size-base)
  u = unit($px)
  if (u is 'px')
    unit($px / $base-size, 'em')
  else
    unit($px, u)

/* variables - calculated */
$gt-size-loader-dot := em(6px)
$gt-size-loader := em(28px)
$gt-size-avatar := em(50px)
$gt-size-btn-height := em(34px)

/* styles */
// Put everything under container to avoid style conflicts 
.gt-container
  box-sizing: border-box
  *
    box-sizing: border-box
  font-size: $gt-size-base
  // common
  a
    color: $gt-color-main
    &:hover
      color: lighten($gt-color-main, 20%)
      border-color: lighten($gt-color-main, 20%)
    &.is--active
      color: $gt-color-link-active
      cursor: default !important
      &:hover
        color: $gt-color-link-active
  /* icon, inspired by https://saeedalipoor.github.io/icono/*/
  .gt-icon
    display: inline-block
    vertical-align: middle
    position: relative
    font-style: normal
    text-align: left
    text-indent: -9999px
    direction: ltr
    &:before, &:after
      content: ''
      pointer-events: none
    &-caretDown
      transform: rotate(90deg)
    &-caretUp
      transform: rotate(-90deg)
    &-caretUp, &-caretDown
      width: em(8px)
      height: em(16px)
      &:before, &:after
        width: em(8px)
        height: em(1px)
        position: absolute
        bottom: 0
        margin: auto 0
        right: em(2px)
        box-shadow: inset 0 0 0 em(32px)
        transform-origin: right
        top: em(2px)
        transform: rotate(45deg)
      &:after
        top:0
        transform: rotate(-45deg)
  /* loader */
  .gt-spinner
    position: relative
    &::before
      content: ''
      box-sizing: border-box
      position: absolute
      top: 50%
      left: 50%
      width: em(12px)
      height: em(12px)
      margin-top: em(-3px)
      margin-left: em(-6px)
      border-radius: 50%
      border: 1px solid $gt-color-btn
      border-top-color: $gt-color-main
      animation: gt-kf-rotate .6s linear infinite

  .gt-loader
    position: relative
    border: 1px solid $gt-color-loader
    animation: ease gt-kf-rotate 1.5s infinite
    display: inline-block
    font-style: normal
    width: $gt-size-loader
    height: $gt-size-loader
    //font-size: $gt-size-loader
    line-height: $gt-size-loader
    border-radius: 50%
    &:before
      content: ''
      position: absolute
      display: block
      top: 0
      left: 50%
      margin-top: -($gt-size-loader-dot / 2)
      margin-left: -($gt-size-loader-dot / 2)
      width: $gt-size-loader-dot
      height: $gt-size-loader-dot
      background-color: $gt-color-loader
      border-radius: 50%
  // avatar
  .gt-avatar
    display: inline-block
    width: $gt-size-avatar
    height: $gt-size-avatar
    position: absolute
    img 
      width: 100%
      height: auto
      border-radius: 3px
    &-github
      position: absolute
      width: $gt-size-avatar - em(2px)
      height: $gt-size-avatar - em(2px)
      background-image: url('../assets/icon/github.svg')
      background-size: $gt-size-avatar - em(4px)
      background-repeat: no-repeat
      background-position: center
  // button
  .gt-btn
    padding: 0 em(15px)
    display: inline-block
    height: $gt-size-btn-height
    line-height: $gt-size-btn-height
    text-decoration: none
    white-space: nowrap
    cursor: pointer
    border: none
    border-radius: $gt-size-border-radius
    background-color: $gt-color-main
    color: $gt-color-btn
    outline: none
    font-size: em(12px)
    &:hover 
      background-color: lighten($gt-color-main, 20%)
      color: $gt-color-btn
    &-text 
      font-weight: 400
    &-loading
      margin-left: em(4px)
      display: inline-block
      width: em(12px)
      height: em(28px)
      vertical-align: top
    &.is--disable
      cursor: not-allowed
      opacity: 0.5
    &-login
      margin-right: 0
    &-public
      // margin-right: em(12px)
    &-loadmore
      // loadmore 

  /* error */
  .gt-error
    text-align: center
    margin: em(10px)
    color: $gt-color-error

  /* initing */
  .gt-initing
    text-align: center
    &-text
      margin: em(10px) auto
      font-size: 92%

  /* no int */
  .gt-no-init
    text-align: center

  /* link */
  .gt-link
    border-bottom: 1px dotted $gt-color-main
    &-counts, &-project
      text-decoration: none

  /* meta */
  .gt-meta
    margin: em(20px) 0
    padding: em(16px) 0
    position: relative
    border-bottom: 1px solid $gt-color-hr
    font-size: em(16px)
    position: relative
    z-index: 10
    clearfix()

  .gt-counts
    margin: 0 em(10px) 0 0

  .gt-user
    float: right
    margin: 0
    font-size: 92%
    &-pic
      width: 16px
      height: 16px
      vertical-align: top
      margin-right: em(8px)
    &-inner
      display: inline-block
      cursor: pointer
    .gt-icon
      margin: em(1px) em(2px) 0 em(8px)
    .is--poping
      .gt-icon
        color: $gt-color-main
  
  .gt-version
    color: $gt-color-sub
    margin-left: em(6px)

  .gt-copyright
    margin: 0 em(15px) em(8px)
    border-top: 1px solid $gt-color-hr
    padding-top: em(8px)

  /* popup */
  .gt-popup
    position: absolute
    right: 0
    top: em(38px)
    background: $gt-color-popbg
    display: inline-block
    border: 1px solid $gt-color-hr
    padding: em(10px) 0
    font-size: em(14px)
    letter-spacing: .5px
    .gt-action
      cursor: pointer
      display: block
      margin: em(8px) 0
      padding: 0 em(18px)
      position: relative
      text-decoration: none
      &.is--active
        &:before
          content: ''
          width: em(4px)
          height: em(4px)
          background: $gt-color-main
          position: absolute
          left: em(8px)
          top: em(7px)
  /* header */
  .gt-header
    position: relative
    &-comment
      margin-left: em(70px)
    &-textarea
      padding: em(12px)
      display: block
      box-sizing: border-box
      width: 100%
      min-height: em(82px)
      max-height: em(240px)
      border-radius: $gt-size-border-radius
      border: 1px solid $gt-color-input-border
      font-size: em(14px)
      word-wrap: break-word
      resize: vertical
      background-color: $gt-color-input-bg
      outline: none
      transition: all 0.25s ease
      &:hover
        background-color: lighten($gt-color-input-bg, 20%)
        box-shadow: 0 em(10px) em(60px) 0 $gt-color-input-bg
    &-controls
      position: relative
      margin: em(12px) 0 0
      text-align: right
      &-tip
        position: absolute
        left: 0
        bottom: 0
        font-size: em(14px)
        color: $gt-color-main
        text-decoration: none
        &::before
          content: " "
          display: inline-block
          position: relative
          top: em(3px)
          right: em(3px)
          width: em(16px)
          height: em(16px)
          background-image: url('../assets/icon/tip.svg')
          background-size: em(16px)
          background-repeat: no-repeat
          background-position: center

  /* comments */
  .gt-comments
    padding-top: em(20px)
    &-null
      text-align: center
    &-controls
      margin: em(20px) 0
      text-align: center

  /* comment */
  .gt-comment
    position: relative
    padding: em(10px) 0
    &-content
      margin-left: em(70px)
      padding: em(12px) em(16px)
      background-color: $gt-color-comment-bg
      transition: all ease 0.25s
      &:hover
        box-shadow: 0 em(10px) em(60px) 0 darken($gt-color-comment-bg, 2%)
    &-header
      margin-bottom: em(8px)
      font-size: em(14px)
    &-username
      font-weight: 500
      color: $gt-color-main
      text-decoration: none
      &:hover
        text-decoration: underline
    &-text
      margin-left: em(8px)
      color: $gt-color-sub
    &-date
      margin-left: em(8px)
      color: $gt-color-sub
    &-edit
      float: right
      width: em(22px)
      height: em(22px)
      background-image: url('../assets/icon/edit.svg')
      background-size: em(14px)
      background-repeat: no-repeat
      background-position: center
    &-body
      color: $gt-color-comment-txt !important
    &-admin
      .gt-comment-content
        background-color: $gt-color-comment-adminbg

@keyframes gt-kf-rotate
  0%
    transform: rotate(0)
  100%
    transform: rotate(360deg)
