/* common */
.gt-spinner {
  position: relative;
}
.gt-spinner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-left: -6px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: #6190E8;
  animation: spinner .6s linear infinite;
}

.gt-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.gt-avatar img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.gt-btn {
  padding: 0 20px;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6190E8;
  color: white;
  outline: none;
}
.gt-btn:hover {
  background-color: #8EAFEE;
}
.gt-btn-text {
  font-weight: 500;
  font-size: 12px;
}
.gt-btn-loading {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 28px;
  vertical-align: top;
}
.gt-btn.disable {
  cursor: not-allowed;
  opacity: 0.5;
}
.gt-btn-login {
  margin-right: 12px;
}
.gt-btn-public {
  margin-right: 12px;
}
.gt-btn-loadmore {
}


/* container */
.gt-container {
}

/* error */
.gt-error {
  text-align: center;
  margin: 10px;
  color: red;
}

/* initing */
.gt-initing {
  text-align: center;
}
.gt-inting-spinner {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.gt-inting-spinner::before {
  width: 36px;
  height: 36px;
  margin-top: -18px;
  margin-left: -18px;
}
.gt-inting-text {
  margin: .5em auto;
}

/* no int */
.gt-no-init {
  text-align: center;
}

/* meta */
.gt-meta {
  margin: 20px 0;
  padding: 16px 0;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
}
.gt-meta .gt-counts {
  margin: 0;
}
.gt-meta .gt-counts-link {
  color: #6190E8;
  border-bottom: 1px dashed #6190E8;
  text-decoration: none;
}
.gt-meta .gt-power {
  position: absolute;
  right: 0;
}
.gt-meta .gt-project-link {
  color: #6190E8;
  text-decoration: none;
}

/* header */
.gt-header {
  position: relative;
}
.gt-header-github {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url('../assert/github.svg');
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: center;
}
.gt-header .gt-header-avatar {
  position: absolute;
}
.gt-header .gt-header-comment {
  margin-left: 70px;
}
.gt-header .gt-header-textarea {
  padding: 1em;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 82px;
  max-height: 240px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
  word-wrap: break-word;
  resize: vertical;
  background-color: #f6f6f6;
}
.gt-header .gt-header-controls {
  position: relative;
  margin: 12px 0 0;
  text-align: right;
}
.gt-header .gt-header-controls-tip {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  color: #6190E8;
  text-decoration: none;
}
.gt-header .gt-header-controls-tip::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 3px;
  right: 3px;
  width: 16px;
  height: 16px;
  background-image: url('../assert/tip.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

/* comments */
.gt-comments {
  padding-top: 20px;
}
.gt-comments-null {
  text-align: center;
}
.gt-comments-controls {
  margin: 20px 0;
  text-align: center;
}

/* comment */
.gt-comment {
  position: relative;
  padding: 16px 0;
}
.gt-comment .gt-comment-avatar {
  position: absolute;
}
.gt-comment .gt-comment-content {
  margin-left: 70px;
  padding: 12px 16px;
  background-color: #F9F9F9;
}
.gt-comment .gt-comment-header {
  margin-bottom: 8px;
}
.gt-comment .gt-comment-username {
  font-size: 14px;
  font-weight: 500;
  color: #6190E8;
  text-decoration: none;
}
.gt-comment .gt-comment-username:hover {
  text-decoration: underline;
}
.gt-comment .gt-comment-at {
  margin-left: .5em;
  font-size: 14px;
  color: #a1a1a1;
}
.gt-comment .gt-comment-date {
  margin-left: .5em;
  font-size: 14px;
  color: #a1a1a1;
}
.gt-comment .gt-comment-edit {
  float: right;
  width: 22px;
  height: 22px;
  background-image: url('../assert/edit.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.gt-comment .gt-comment-body {
  font-size: 16px;
  color: #24292e;
}
.gt-comment .gt-comment-body a {
  color: #6190E8;
}
.gt-comment.gt-comment-admin .gt-comment-content {
  background-color: #FFFAF3;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
